##################################
######## Common Settings #########
##################################
# PLACE GLOBAL SETTINGS HERE
## These settings will apply to all instances
port="27115"
queryport="27145"
servername="[PRS] EU/PL Coop Server 17 I prsclan.com.pl"
serverpassword=""
defaultmap="Farmhouse"
defaultscenario="Scenario_Farmhouse_Checkpoint_Security"
maxplayers="28"
# Discord Alerts | https://github.com/GameServerManagers/LinuxGSM/wiki/Discord
discordalert="on"
discordwebhook="https://discordapp.com/api/webhooks/514562533298798612/p4zg1XN68QgyvmFW770DSGVWJdDNrhs4XwbNlafQPVhym5KFE5EgYbqOF3Xpu5WFgf-x"
